body {
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.get-ip-info-btn {
  display: block;
  border: 1px solid red;
  border-radius: 50px;
  padding: 10px;
  margin: 50px auto;
  width: fit-content;
  cursor: pointer;
}
.ip-info {
  margin: 50px auto;
  width: fit-content;
}

.messages {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: red;
  background-color: black;
  padding: 0 10px;
  line-height: 2;
}
.loader.active {
  display: block;
}
.loader {
  display: none;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  position: relative;
  border: 3px solid;
  border-color: #de3500 #0000 grey #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before,
.loader:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: grey;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader:after {
  border-color: #de3500 #0000 #0000 #0000;
  transform: translate(32px, 3px) rotate(-35deg);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
