:root {
  --light-color: grey;
  --dark-color: #000;
  --error-color: #ff3d00;
  --message-color: green;
}

body {
  background-color: var(--dark-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light-color);
  line-height: 2;
}
body.modal-open {
  position: fixed;
  overflow-y: hidden;
  left: 0;
  right: 0;
  padding-right: 16px;
}

.message-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  width: 100%;
}

.message-window {
  background-color: var(--message-color);
  display: grid;
  grid-template-columns: 1fr min-content;
  color: var(--dark-color);
  padding: 10px;
}

.message-window.error {
  background-color: var(--error-color);
}

.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.modal-window__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  padding: 20px;
  max-width: 90vw;
  min-height: 400px;
  max-height: fit-content;
}
.form__error-messages {
  font-size: 0.8rem;
  margin: 5px 0;
  padding-left: 20px;
  line-height: 1;
  color: var(--error-color);
}
.form-label {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 400px;
}
.form__input {
  align-self: center;
}
.form__post-body {
  width: 100%;
  max-width: 100%;
  resize: vertical;
  min-height: 200px;
}
.close-window {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.posts {
  max-width: 800px;
  margin: 0 auto;
}

.post {
  position: relative;
  display: grid;
  grid-template-areas:
    "avatar nick"
    "title title "
    "body body "
    "buttons buttons";
  grid-template-columns: 70px 1fr;
  color: var(--light-color);
  border: 1px solid var(--light-color);
  background-color: var(--dark-color);
  padding: 10px;
  margin: 10px;
}
.post__author-logo {
  border: transparent;
  border-radius: 50%;
  grid-area: avatar;
}
.post__author {
  font-weight: bold;

  color: var(--light-color);
  text-decoration: none;
  grid-area: nick;
  align-self: center;
}
.post__author:hover {
  text-decoration: underline;
}
.post__verified {
  vertical-align: middle;
}
.post__title {
  text-transform: capitalize;
  grid-area: title;
}
.post__content {
  grid-area: body;
  line-height: 2;
}
.post__content::first-letter {
  text-transform: capitalize;
}
.post__edit-container {
  grid-area: buttons;
  padding: 20px 0;
}
.post__verified,
.post__nickname {
  padding-left: 10px;
}

.loader {
  --size: 36px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: var(--size) 0 0 var(--size);
  margin: -calc(var(--size) / 2) 0 0 -calc(var(--size) / 2);

  border: 5px solid transparent;
  border-bottom-color: var(--error-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.page-loader {
  --size: 48px;
}
